<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :record_title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :record_user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :record_description %>
  </div>
  
  <div class="field">
    <%= form.label :address %><br>
    <%= form.text_field :address, class: "address" %>
    <%= link_to "SEARCH", "#", class: "map-search-button" %>
    <div class="map-canvas" style="height: 0;"
                data-lat="<%= form.object.latitude %>"
                data-lng="<%= form.object.longitude %>">
    </div>
    <%= form.text_field :latitude, id: :record_latitude, readonly: true %>
    <%= form.text_field :longitude, id: :record_longitude,readonly: true %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :record_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :record_end_date %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url, id: :record_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
